.subscribe-form.main_page {
	margin:0 auto;
}
.subscribe-form.main_page .title {
	display: inline-block;
	text-transform:uppercase;
	vertical-align: middle;
	font-size:13px;
	width:30%;
	margin: 0 auto;
	text-align:left;
	line-height: 18px;
	font-weight:200;
}
.subscribe-form.main_page form {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}
.subscribe-form.main_page .s_block {
	display: inline-block;
	width: 70%;
	font-size: 13px;
	vertical-align: middle;
	background: #f0f2f3;
	margin-right: 5px;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
}
.subscribe-form.main_page .s_block input {
	padding: 11px 13px 10px;
}
.subscribe-form.main_page .s_submit {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	box-sizing: border-box;
}
.subscribe-form.main_page .email {
	display: block;
	float: left;
	width: 100%;
	padding: 0 20px;
	max-width: 370px;
	background: #f0f2f3;
	font-family: 'Ubuntu',Arial,Helvetica,sans-serif;
	font-size:13px;
	color: #777777;
	border: 0;
	border-radius: 3px;
	box-sizing: border-box;
}
.subscribe-form.main_page .solid_button.submit {
	padding: 11px 13px 10px;
	text-align:center;
	color:#fff;
	font-family: 'Ubuntu',Arial,Helvetica,sans-serif;
	font-size:13px;
	box-sizing: border-box;
	border:0;
	border-radius: 3px;
}
@media all and (max-width:650px) {
	.subscribe-form.main_page .solid_button.submit { 
		font-family: 'Ubuntu',Arial,Helvetica,sans-serif;
		font-size:13px;
	}
	.subscribe-form.main_page .title {
	display: block;
	width:100%;
	}
	.subscribe-form.main_page form {
		display: block;
		margin-top:15px;
		width: 80%;
	}
}
	