/*ќбщие*/

* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.services-sections-list > .description {
	display: block;
	white-space: normal;
	margin-top: 10px;
}

/*MENU*/

.services-sections-list.menu {
	border: 1px solid #ebebeb;
	background: #fff;
	width: 100%;
}

.services-sections-list.menu .valign {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.services-sections-list.menu .element:first-child {
	border-top: none;
}

.services-sections-list.menu .element {
	position: relative;
	display: block;
	border-top: 1px solid #ebebeb;
	color: #585858;
	height: auto;
	transition-property: color;
	transition: 0.2s;
}

.services-sections-list.menu .element:hover, .services-sections-list.menu .element.selected {
	color: #1a58d7;
}

.services-sections-list.menu .element .content {
	position: relative;
//margin: 10px;
	padding: 13px 32px 14px 20px;
}

.services-sections-list.menu .element .content a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	margin-right: 15px;
	white-space: normal;
	color: inherit;
	text-decoration: none;
}

.services-sections-list.menu .element.selected .content a {
	color: #ffffff !important;
}

.services-sections-list.menu .element .content .selector {
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 20px;
	color: inherit;
	height: 100%;
	font-size: 14px;
}

.services-sections-list.menu .element:hover .content .selector, .services-sections-list.menu .element.selected .content .selector {
	font-size: 14px;
}

/*TILES*/

.services-sections-list.tile {
	position: relative;
	display: block;
	background: transparent;
	white-space: nowrap;
	overflow: hidden;
	margin-top: -8px;
	margin-bottom: -8px;
}

.services-sections-list.tile .element {
	position: relative;
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
}

.services-sections-list.tile .element .wrapper {
	position: relative;
	display: block;
	border: 1px solid #ebebeb;
	text-decoration: none;
	overflow: hidden;
}.services-sections-list.tile .element .wrapper:focus {
	 outline: none;
 }

.services-sections-list.tile .element .image {
	position: relative;
	width: 100%;
	padding-top: 100%;
}

.services-sections-list.tile .element .image > div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 0px;
	white-space: nowrap;
	text-align: center;
}

.services-sections-list.tile .element .image > div img {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: none;
	max-width: 100%;
	max-height: 100%;
}

.services-sections-list.tile .element .text {
	display: block;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.services-sections-list.tile .element .text .text-wrapper {
	font-size: 13px;
	line-height: 19px;
	color: #333;
	font-weight: bold;
	text-align: center;
	white-space: normal;
	height: 38px;
	overflow: hidden;
}

.services-sections-list.tile  > .description {
	padding-left: 8px;
	padding-right: 8px;
}

/*TEXT*/
.services-sections-list.text {
	position: relative;
	display: block;
	background: transparent;
	white-space: nowrap;
}

.services-sections-list.text .element {
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
}

.services-sections-list.text .element .content {
	display: block;
	text-decoration: inherit;
}

.services-sections-list.text .element .content a {
	display: block;
	text-decoration: none;
}

.services-sections-list.text .element .content .name {
	display: block;
	text-decoration: underline;
	overflow: hidden;
	font-size: 18px;
	line-height: 24px;
	height: 48px;
	white-space: normal;
	margin-bottom: 10px;
}

.services-sections-list.text .element .content .description {
	display: block;
	text-decoration: inherit;
	white-space: normal;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	height: 48px;
	color: #000;
}

/*LIST*/
.services-sections-list.list {
	position: relative;
	display: block;
	background: transparent;
	white-space: nowrap;
}

.services-sections-list.list .element {
	position: relative;
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
}

.services-sections-list.list .element .content {
	position: relative;
	display: block;
	text-decoration: inherit;
	overflow: hidden;
}

.services-sections-list.list .element .content a {
	position: relative;
	display: block;
	text-decoration: none;
	overflow: hidden;
}

.services-sections-list.list .element .content .image {
	display: block;
	position: relative;
	vertical-align: top;
	float: left;
	width:40%;
	padding-top: 40%;
	height: auto;
}

.services-sections-list.list .element .content .image > div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.services-sections-list.list .element .content .image > div img {
	max-height: 100%;
	max-width: 100%;
}

.services-sections-list.list .element .content .text {
	display: block;
	vertical-align: top;
	width: 55%;
	margin-left: 45%;
}

.services-sections-list.list .element .content .text .name {
	display: block;
	text-decoration: underline;
	overflow: hidden;
	font-size: 18px;
	line-height: 24px;
	max-height: 48px;
	margin-bottom: 10px;
	white-space: normal;
}

.services-sections-list.list .element .content .text .description {
	display: block;
	text-decoration: inherit;
	white-space: normal;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	max-height: 64px;
	color: #000;
}
@media (max-width: 800px) {
	.adaptiv .services-sections-list.menu {
		display: none;
	}
}