.form_feedback {
	width: 350px;
}
.form_feedback .header_grey {
	margin-bottom: 30px
}
.form_feedback_under {
	padding: 39px 27px 20px;
	font-size: 14px;
}
.form_feedback .header_grey {
	font-size: 21px;
	padding-top: 5px;
	padding-bottom:0px;
	color: #1d1d1d;
	font-weight: bold;
	margin-top: -30px;
}

.label-line{
display:inline-block;
font-size:12px !important;	

}
.gray-label{
	color:gray !important;
}
.controls .input .inputtext,
.controls .input .inputtextarea{
	background:white !important;
	border: 1px solid rgba(0,0,0,0.2) !important;
}
.form_feedback .controls label{
	font-size: 14px;
	color: #1d1d1d;
	line-height: 24px
}
.form_feedback .controls .input input,.form_feedback .controls .input textarea{
	width: 100%;	
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px!important;	
	height: 44px;
	border: none;
	margin-top:10px;
	border-radius: 3px;
	background: #e9e9e9;
	box-shadow: none;
	font-weight: normal;
	font-size: 15px;
	float:none;
}
.form_feedback .controls .captcha_form .input input {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
.form_feedback .controls .input input.nofill,
.form_feedback .controls .input textarea.nofill,
.form_feedback .controls .captcha_form .input input.nofill{
	border:1px solid red;
}

.form_feedback .controls .input textarea{
	height: 135px;
}
.form_feedback .control .starrequired{
	color:#940939;
}
.form_feedback .controls {
	margin-top: 26px;
}
.form_feedback .controls .captcha_form .input img {
	float: right;
	width: 45%;
	max-height: 50px;
	height: 44px;
	display: inline-block;
	vertical-align: top;	
	text-align:right;
	margin-top: 10px;
	margin-left: 20px;
}
.popup-window-buttons{
	padding-top:0px !important;
}
.form_feedback .controls .input input.inputfile {
	border:0;
	box-shadow:none;
}
.form_feedback .buttons {
	margin-top:40px;
}
.form_feedback .solid_button {
	display: block;	
	padding: 11px 13px 10px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;	
	border:0;
	float:left;
	text-align:center;
}

.form_feedback .close_button {
	height: 36px;
	border-radius: 6px;
	float:right;
	line-height:36px;
	width: 45%;
	text-align:center;
}
.form_feedback .errors {
	color:red;
	font-size:12px;
}
.form_feedback .text {
	font-size:11px;
	margin-top:5px;
}

/*соглашение*/
.consent {
	margin-top: 28px;
}
.consent a {
	text-decoration: none;
}
.consent label {
	font-size: 11px;
	color: #585858;
	cursor: pointer;
}
.consent label, .consent input {
	display: inline-block;
	vertical-align: middle;
}

@media (max-width:470px){
	.popup-window{
		width:100% !important;
		left:0px !important;
		margin-left:0px !important;
		box-sizing:border-box;
	}
	
	.popup-window-overlay{
		width:100% !important;
	}
	.form_feedback{
		width:100% !important;
	}
}